html,
body {
	background: #fffaf7;
	color: #2d2d2d;
	font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}
a,
a:visited {
	color: darkred;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
main {
	margin: auto;
	max-width: 38rem;
	padding: 0.8rem;
}
pre {
	background: white;
	overflow: scroll;
	padding: 1rem;
}
td {
	border: 1px solid #2d2d2d;
	padding: 10px;
}
img {
	height: auto;
	max-width: 100%;
}
.homepage-list {
	list-style: none;
	padding: 1rem 0;
}
.homepage-list li {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
@media (max-width: 38rem) {
	.homepage-list li a {
		width: 100%;
	}
}

img[alt$="<"] {
  float: left;
  width: 400px;
  margin-right: 20px;
}
